[Desktop Entry]
Name=Ilovlya media center
GenericName=Media player
Comment=Your favorite media player
Exec=ilovlya
Icon=uno.almaz.ilovlya
Terminal=false
Type=Application
Categories=AudioVideo;Player;
Keywords=media;player;
StartupNotify=true
